<template>
  <CifAddress />

</template>

<script>
import CifAddress from "@/components/CifAddress.vue"

export default {
    name: "CifAddressList",
    components: {
        CifAddress
    }
}
</script>

<style>

</style>