<template>
  <AddCifAddress />
</template>

<script>
import AddCifAddress from '@/components/AddCifAddress.vue'
export default {
name: "CreateCifAddress",
components: {
    AddCifAddress
}
}
</script>

<style>

</style>