<template>
<HomeFront/>
</template>

<script>
import HomeFront from "@/components/HomeFront.vue"
export default {
    name: "Home",
    component: {
        HomeFront
    }

}
</script>

<style>

</style>