<template>
  <EditCif />
</template>

<script>
import EditCif from "@/components/EditCif.vue"
export default {
    name: "UpdateCif",
    components: {
        EditCif
    }
}
</script>

<style>

</style>