<template>
  <div>
      <form @submit.prevent="saveCifAddress">
      <h1 class="title">Add New CifAddress</h1>
      <div class="field">
          <label class="label">Address</label>
          <div class="control">
              <input type="text" v-model="address" class="input" placeholder="address">
          </div>
      </div>
      <div class="field">
          <div class="control">
              <button class="button is-primary">Save</button>
          </div>
      </div>
      </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
name: "AddCifAddress",
data(){
    return{
        address: ''
    }
},
methods:{
   async saveCifAddress(){
        await axios.post('mcifAddress/create',{
            address: this.address
            });
            (this.address= '')
            this.$router.push('/cifaddress');
   }
},
};
</script>

<style>

</style>