<template>
  <div>
      <form @submit.prevent="saveCif">
      <h1 class="title">Add New Cif</h1>
      <div class="field">
          <label class="label">idCard</label>
          <div class="control">
              <input type="text" v-model="idCard" class="input" placeholder="idCard">
          </div>
      </div>
      <div class="field">
          <label class="label">Name</label>
          <div class="control">
              <input type="text" v-model="name" class="input" placeholder="name">
          </div>
      </div>
      <div class="field">
          <label class="label">NPWP</label>
          <div class="control">
              <input type="text" v-model="npwp" class="input" placeholder="npwp">
          </div>
      </div>
      <div class="field">
          <label class="label">No.Telepon</label>
          <div class="control">
              <input type="text" v-model="noTelepon" class="input" placeholder="noTelepon">
          </div>
      </div>
      <div class="field">
          <label class="label">Email</label>
          <div class="control">
              <input type="text" v-model="email" class="input" placeholder="email">
          </div>
      </div>
      <div class="field">
          <label class="label">Type</label>
          <div class="control">
              <input type="text" v-model="type" class="input" placeholder="type">
          </div>
      </div>
      <div class="field">
          <div class="control">
              <button class="button is-primary">Save</button>
          </div>
      </div>
      </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
name: "AddCif",
data(){
    return{
        idCard:'',
        name:'',
        npwp:'',
        noTelepon:'',
        email:'',
        type:''
    }
},
methods:{
   async saveCif(){
        await axios.post('cif/create',{
                 idCard: this.idCard,
                 name: this.name,
                 npwp: this.npwp,
                 noTelepon: this.noTelepon,
                 email: this.email,
                 type: this.type
            });
            (this.idCard= ''),
            (this.name= ''),
            (this.npwp= ''),
            (this.noTelepon= ''),
            (this.email = ''),
            (this.type= ''),
            this.$router.push('/cif');
   }
},
};
</script>

<style>

</style>