<template>
  <div>
      <h1 class="title">CIF</h1>
      <input type="text"  v-model="search" class="is-small">
      <router-link :to="{name: 'CreateCif'}" class="button is-primary">Add New</router-link>
      <table class="table is-striped is-fullwidth">
          <thead>
              <tr>
                  <th>ID</th>
                   <th>idCard</th>
                   <th>Name</th>
                    <th>NPWP</th>
                    <th>NoTelepon</th>
                   <th>Email</th>
                   <th>Type</th>
                   <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="cif in MCif" :key="cif.id">
                  <td>{{ cif.id }}</td>
                  <td>{{ cif.idCard }}</td>
                  <td>{{ cif.name }}</td>
                  <td>{{ cif.npwp }}</td>
                  <td>{{ cif.noTelepon }}</td>
                  <td>{{ cif.email }}</td>
                  <td>{{ cif.type }}</td>
                  <td>
                      <button class="button is-danger is-small" v-on:click="deleteCif(cif.idCard)">Delete</button>
                       <router-link :to="{name: 'UpdateCif',params:{idCard: cif.idCard}}" class="button is-info is-small">Edit New</router-link>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
name: "Cif",

data(){
    return {
        MCif: null,
          search: ''
    }
},
methods:{
    getData(){
         axios.get('http://localhost:3356/api/cif/findAll').then((Response) => {
        console.log(Response)
        this.MCif = Response.data
    })
    },
      deleteCif(idCard){
    axios.delete('http://localhost:3356/api/cif/delete/' + idCard).then(() => {
        this.getData();
      })
    }
},
mounted(){
    this.getData()
    this.deleteCif()
},
computed: {
filteredMCif: function(){
    return this.MCif.filter((cif) => {
        return cif.name.match(this.search);
    });
}
}
};
</script>

<style scoped>
button{
    font: bold;
}
td{
    color: black;
}
</style>
