<template>
  <div>
      <h1 class="title">CIF ADDRESS</h1>
      <router-link :to="{name: 'CreateCifAddress'}" class="button is-primary">Add New</router-link>
      <table class="table is-striped is-fullwidth">
          <thead>
              <tr><th>idCard</th>
                   <th>Name</th>
                    <th>NPWP</th>
                    <th>NoTelepon</th>
                   <th>Email</th>
                   <th>Type</th>
                   <th>Address</th>
                   <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="CifAddress in MCifAddress" :key="CifAddress.id">
                  <td>{{ CifAddress.idCardMCif }}</td>
                  <td>{{ CifAddress.nameMCif }}</td>
                  <td>{{ CifAddress.npwpMCif }}</td>
                  <td>{{ CifAddress.noTeleponMCif }}</td>
                  <td>{{ CifAddress.emailMCif }}</td>
                  <td>{{ CifAddress.typeMCif }}</td>
                  <td>{{ CifAddress.address }}</td>
                  <td>
                      <button class="button is-danger is-small" v-on:click="deleteCifAddress(CifAddress.id)">Delete</button>
                 </td>
              </tr>
          </tbody>
      </table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
name: "CifAddress",
data(){
    return {
        MCifAddress: null

    }
},
methods:{
    async getAll(){
         axios.get('http://localhost:3356/api/mcifAddress/getAll').then((Response) => {
        console.log(Response)
        this.MCifAddress = Response.data.data
    })
    },
      deleteCifAddress(id){
    axios.delete(`http://localhost:3356/api/mcifAddress/delete/${id}`).then(() => {
        this.getAll();
      })
    }
},
mounted(){
    this.getAll()
    this.deleteCifAddress()
}
};
</script>

<style scoped>
button{
    font: bold;
}
td{
    color: black;
}
</style>
