<template>
  <div>
      <h1 class="title">CIF Family</h1>
      <!-- <router-link :to="{name: 'CreateCifAddress'}" class="button is-primary">Add New</router-link> -->
      <table class="table is-striped is-fullwidth">
          <thead>
              <tr><th>idCard</th>
                   <th>Name</th>
                    <th>NoTelepon</th>
                   <th>Email</th>
                   <th>Type</th>
                   <th>Family Name</th>
                   <th>Family Type</th>
                   <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="CifFamily in MCifFamily" :key="CifFamily.id">
                  <td>{{ CifFamily.idCardMCif }}</td>
                  <td>{{ CifFamily.nameMCif }}</td>
                  <td>{{ CifFamily.noTeleponMCif }}</td>
                  <td>{{ CifFamily.emailMCif }}</td>
                  <td>{{ CifFamily.typeMCif }}</td>
                  <td>{{ CifFamily.familyName }}</td>
                  <td>{{ CifFamily.familyType }}</td>
                  <td>
                      <button class="button is-danger is-small" v-on:click="deleteCifFamily(CifFamily.id)">Delete</button>
                 </td>
              </tr>
          </tbody>
      </table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
name: "CifFamily",
data(){
    return {
        MCifFamily: null

    }
},
methods:{
    async getAll(){
         axios.get('http://localhost:3356/api/mcifFamily/getAll').then((Response) => {
        console.log(Response)
        this.MCifFamily = Response.data.data
    })
    },
      deleteCifFamily(id){
    axios.delete(`http://localhost:3356/api/mcifFamily/delete/${id}`).then(() => {
        this.getAll();
      })
    }
},
mounted(){
    this.getAll()
    this.deleteCifFamily()
}
};
</script>

<style scoped>
button{
    font: bold;
}
td{
    color: black;
}
</style>
