<template>
  <div>
    <h1 class="title">Update Cif</h1>
    <form @submit.prevent="editCif">
      <div class="field">
        <label class="label">ID Card</label>
        <div class="control">
          <input
            type="text"
            v-model="idCard"
            class="input"
            placeholder="Masukan ID Card Anda"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input
            type="text"
            v-model="name"
            class="input"
            placeholder="name"
          />
        </div>
      </div>
        <div class="field">
        <label class="label">NPWP</label>
        <div class="control">
          <input
            type="text"
            v-model="npwp"
            class="input"
            placeholder="Masukan NPWP Anda"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">No.Telepon</label>
        <div class="control">
          <input
            type="text"
            v-model="noTelepon"
            class="input"
            placeholder="noTelepon"
          />
        </div>
      </div>
       <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input
            type="text"
            v-model="email"
            class="input"
            placeholder="email"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Type</label>
        <div class="control">
          <input
            type="text"
            v-model="type"
            class="input"
            placeholder="type"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" >Update</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "EditCif",
  data() {
    return {
      idCard: "",
      name: "",
      npwp: "",
      noTelepon: "",
      email: "",
      type: "",
    };
  },
  created() {
    this.getCifById();
  },
  methods: {
    async getCifById() {
      const response = await axios.get(`cif/${this.$route.params.idCard}`);
      (this.idCard = response.data.idCard),
        (this.name = response.data.name),
        (this.npwp = response.data.npwp),
        (this.noTelepon = response.data.noTelepon),
        (this.email = response.data.email),
        (this.type = response.data.type);
        console.log(response)
    }, 
    async editCif() {
      axios.put('cif/update/'+ this.userId).then(Response =>{

      console.log(response);
      });
      // const response = await axios.put(`cif/update/${this.idCard}`, {
      //   idCard: this.idCard,
      //   name: this.name,
      //   npwp: this.npwp,
      //   noTelepon: this.noTelepon,
      //   email: this.email,
      //   type: this.type,
      // });
      (this.idCard = ""),
        (this.name = ""),
        (this.npwp = ""),
        (this.noTelepon = ""),
        (this.email = ""),
        (this.type = ""),
        this.$router.push('/cif');
    },
  },
};
</script>

<style>
</style>