<template>
  <div>
    <h1 class="title">Selamat Datang</h1>
      <table class="table is-striped is-fullwidth">

      </table>
</div>
</template>

<script>
export default {
name: "HomeFront"
}
</script>

<style>

</style>